* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: fit-content;
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-size: 2rem;
}

.theme-choose-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.theme-choose-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-choose-numbers {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-inline: 10px;  
}

.theme-choose-slider-wrapper {
   display: flex;
   align-items: center;
   gap: 10px
}

.theme-selector-title {
  font-size: 0.8rem;
}

.slider {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 90px;
  height: 30px;
  padding: 5px;
  border-radius: 30px;
}

.slider-circle {
  position: relative;
  transition: 0.3s ease-in-out;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black
}

.result {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  overflow: hidden;
}

.result-text {
  font-size: 3rem;
}

.calc-grid {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr)
}

.calc-item {
  position: relative;
  z-index: 1;
}

.calc-item-text {
  font-size: 2rem;
  font-weight: 700; 
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  border-radius: 10px;
  position: relative;
  background-color: antiquewhite;

}

.calc-item-text::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: red;
}

.calc-reset {
  grid-column: 1 / span 2;
}
.calc-equal {
  grid-column: 3 / span 2;
}

.attribution, .attribution a {
  margin-top: 2vh;
  font-size: 0.8rem;
}