* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

[data-theme='theme-0'] {
  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  --key-primary-background: hsl(30, 25%, 89%);
  --key-primary-shadow: hsl(28, 16%, 65%); 
  --key-primary-hover-background: white;

  --key-secondary-background: hsl(225, 21%, 49%);
  --key-secondary-shadow: hsl(224, 28%, 35%);
  --key-secondary-color: white;
  --key-secondary-hover-backgorund: rgb(162, 179, 225);
  
  --equal-background: hsl(6, 63%, 50%);
  --equal-color: white;
  --equal-shadow: hsl(6, 70%, 34%);
  --equal-hover-backgorund: rgb(249, 108, 91);
  
  --toggle: hsl(6, 63%, 50%);
  --toggle-background:   hsl(223, 31%, 20%);
   
  --text-color: hsl(221, 14%, 31%);
  --title-color: white;
}

[data-theme='theme-1'] {
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  --key-primary-background: hsl(45, 7%, 89%);
  --key-primary-shadow: hsl(35, 11%, 61%);  
  --key-primary-hover-background: white;
  
  --key-secondary-background: hsl(185, 42%, 37%);
  --key-secondary-shadow: hsl(185, 58%, 25%);
  --key-secondary-color: white;
  --key-secondary-hover-backgorund: rgb(98, 181, 189);
  
  --equal-background: hsl(25, 98%, 40%);
  --equal-shadow:  hsl(25, 99%, 27%);
  --equal-color: white;
  --equal-hover-backgorund: rgb(255, 139, 56);

  --toggle-background:  hsl(0, 5%, 81%);
  --toggle: hsl(25, 98%, 40%);
  
  --text-color: hsl(60, 10%, 19%);
  --title-color: hsl(60, 10%, 19%);
}

[data-theme='theme-2'] {
  --main-background:  hsl(268, 75%, 9%);

  --keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  
  --key-primary-background: hsl(268, 47%, 21%);
  --key-primary-shadow: hsl(290, 70%, 36%); 
  --key-primary-hover-background: rgb(107, 52, 172);

  --key-secondary-background: hsl(281, 89%, 26%);
  --key-secondary-shadow: rgb(163, 73, 164);
  --key-secondary-color: white;
  --key-secondary-hover-backgorund: rgb(134, 49, 176);

  --equal-background: hsl(176, 100%, 44%);
  --equal-shadow:  hsl(177, 92%, 70%);
  --equal-color: hsl(198, 20%, 13%);
  --equal-hover-backgorund: rgb(148, 255, 249);

  --toggle: hsl(176, 100%, 44%);
  --toggle-background:  hsl(268, 71%, 12%);
  
  --text-color: hsl(52, 100%, 62%);
  --title-color: hsl(52, 100%, 62%);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  height: fit-content;
  max-width: 31.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-size: 2rem;
  color: var(--title-color)
}

.theme-choose-container {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
}

.theme-choose-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.theme-choose-numbers {
  display: flex;
  justify-content: flex-end;
  gap: 1.563rem;
  padding-inline: 0.625rem;  
}

.theme-choose-numbers-item {
  color: var(--title-color)
}

.theme-choose-slider-wrapper {
   display: flex;
   align-items: center;
   gap: 0.625rem
}

.theme-selector-title {
  font-size: 0.8rem;
  color: var(--title-color)
}

.slider {
  background: var(--toggle-background);
  display: flex;
  align-items: center;
  width: 5.625rem;
  height: 1.875rem;
  padding: 0.313rem;
  border-radius: 1.875rem;
}

.slider-circle {
  position: relative;
  transition: 0.3s ease-in-out;
  height: 0.938rem;
  width: 0.938rem;
  border-radius: 50%;
  background: var(--toggle);
}

.slider:hover, .slider-circle:hover {
  cursor: pointer;
}

.result {
  height: 6.25rem;
  width: 100%;
  background-color: var(--screen-background);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3.125rem;
  overflow: hidden;
}

.result-text {
  color: var(--title-color);
  font-size: 3rem;
}

.calc-grid {
  background: var(--keypad-background);
  border-radius: 0.625rem;
  padding: 1.25rem;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr)
}

.calc-item {
  position: relative;
  z-index: 1;
}

.calc-item-text {
  font-size: 2rem;
  font-weight: 700; 
  background: var(--key-primary-background);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.25rem;
  border-radius: 0.625rem;
  position: relative;
  color: var(--text-color);
}

.calc-item-text::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  background: var(--key-primary-shadow);
}


.calc-item-text:hover {
  cursor: pointer;
  background: var(--key-primary-hover-background);
}

.calc-reset {
  grid-column: 1 / span 2;
}
.calc-reset-item {
  background: var(--key-secondary-background);
  color: var(--key-secondary-color)
}
.calc-reset-item::before {
  background: var(--key-secondary-shadow);
}

.calc-del-item {
  background: var(--key-secondary-background);
  color: var(--key-secondary-color)
}
.calc-del-item::before {
  background: var(--key-secondary-shadow);
  color: var(--key-secondary-color)
}

.calc-reset-item:hover, .calc-del-item:hover {
  background-color: var(--key-secondary-hover-backgorund);
}

.calc-equal {
  grid-column: 3 / span 2;
}
.calc-equal-item {
  background: var(--equal-background);
  color: var(--equal-color)
}
.calc-equal-item::before{
  background: var(--equal-shadow);
}
.calc-equal-item:hover {
  background-color: var(--equal-hover-backgorund);
}

.attribution, .attribution a {
  margin-top: 2vh;
  font-size: 0.8rem;
  color: var(--title-color)
}

@media screen and (max-width: 34.375rem) {
  * {
    font-size: 0.8rem;
  }
  main {
    padding: 1.25rem;
  }
  .calc-item-text {
    padding-block: 0.625rem;
  }
}
